<script src="/deleteEvent.js"></script>
<script src="/eventForm.js"></script>
<script src="/updateEvent.js"></script>
<h3>Events:</h3>
<table class = "table">
    <thead>
        <tr> 
            <th scope="col">Event Name</th> 
            <th scope="col">Date/Time</th> 
            <th scope="col">City</th>
            <th scope="col">Country</th>
        </tr>
    </thead> 
    <tbody>
        {{#each events}} 
        <tr> 
            <th scope="row">{{eventName}}</td> 
            <td>{{dateTime}}</td> 
            <td>{{city}}</td>
            <td>{{country}}</td>
            <td><button class = "btn btn-outline-danger" onclick="return deleteEvent({{eventID}})">Delete</button></td>
            <td><button class = "btn btn-outline-secondary" onclick="location.href='/events/update/{{eventID}}'">Update</button></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table>

<form id="add-event-form" method="POST" action="/events/add-event-form">
    <label for="event-name">Event Name</label>
    <input type="text" class="form-control" name="event-name" id="event-name" placeholder="Name">
    
    <label for="host-id">Host</label>
    <select class="form-select" id="host-id" name="host-id">
            <option selected>Choose a host</option>
        {{#each hosts}}
            <option value="{{userID}}">{{firstName}} {{lastName}}</option>
        {{/each}}
    </select>

    <label for="venue-name">Venue Name</label>
    <input type="text" class="form-control" name="venue-name" id="venue-name" placeholder="Name">

    <label for="date-time">Date and Time (YYYY-MM-DD HH.MM.SS):</label>
    <input type="text" class="form-control" name="date-time" id="date" placeholder="YYYY-DD-MM">
                
    <label for="time">Time:</label>
    <input type="text" class="form-control" name="time" id="time" placeholder="HH:MM">
                
    <label for="address-line-1">Address Line 1</label>
    <input type="text" class="form-control" name="address-line-1" id="address-line-1" placeholder="street">
                
    <label for="address-line-2">Address Line 2</label>
    <input type="text" class="form-control" name="address-line-2" id="address-line-2" placeholder="Apt, suite, PO box">
                
    <label for="city">City</label>
    <input type="text" class="form-control" name="city" id="city" placeholder="City">
                
    <label for="state">State</label>
    <input type="text" class="form-control" name="state" id="state" placeholder="State">
                
    <label for="country">Country</label>
    <input type="text" class="form-control" name="country" id="country" placeholder="country">

    <label for="zip-code">Zip Code</label>
    <input type="text" class="form-control" name="zip-code" id="zip-code" placeholder="Zip">
                
    <label for="latitude">Latitude</label>
    <input type="text" class="form-control" name="latitude" id="latitude" placeholder="Coordinates">
                
    <label for="longitude">Longitude</label>
    <input type="text" class="form-control" name="longitude" id="longitude" placeholder="Coordinates">
                
    <label for="event-cap">Event Capacity</label>
    <input type="text" class="form-control" name="event-cap" id="event-cap" placeholder="Capacity">

  
    <label for="entry-fee">Entry Fee</label>
    <select class="form-select" id="entry-fee" name="entry-fee">
        <option value="FALSE">No</option>
        <option value="TRUE">Yes</option>
    </select>
                
    <label for="ticket-price">Ticket Price</label>                
	<input type="text" class="form-control" name="ticket-price" id="ticket-price" placeholder="Price">
	<input type="submit">    
    {{!--
    <lable for="add-tag">Tags</lable>
	<input type="text" class="form-control" id="add-tag" placeholder="">
					 <button class="btn btn-primary">add tag</button>
					 <br>
					 <h5>LAN<button class="btn btn-danger">Remove</button></h5>
					 <h5>Beer<button class="btn btn-danger">Remove</button></h5>
					 <h5>Crab<button class="btn btn-danger">Remove</button></h5>
					 <br>
                
    <button class="btn btn-primary" type="submit">Submit</button>
    --}}
</form>