
<h3>Get a ticket for {{#each event}}{{eventName}}{{/each}}</h3>

<div class="form-group">
    <form id="add-ticket-form" method="POST" action="/events/add-ticket/{{#each event}}{{eventID}}{{/each}}">
        <label for="eventID" class="form-label">EventID</label>
        <input type="text" id="eventID" name="eventID" class="form-control" placeholder="Disabled input" value="{{#each event}}{{eventID}}{{/each}}" disabled>
        <label for="ownerID">Select a user to get a ticket for</label>
        <select class="form-select" id="ownerID" name="ownerID" required>
            <option value ="" selected>Choose a host</option>
            {{#each hosts}}
            <option value="{{userID}}">{{firstName}} {{lastName}}</option>
            {{/each}}
        </select>
        <input type="submit" value="submit">  
    </form>
</div>