
<script src="/deleteFollower.js"></script>
{{!--
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
--}}
<h5>User profile</h5>
<table>
    <thead> 
        <th>UserID</th> 
        <th>First Name</th> 
        <th>Last Name</th>
    </thead> 
    <tbody>
        {{#each userInfo}} 
        <tr> 
            <td>{{userID}}</td> 
            <td>{{firstName}}</td> 
            <td>{{lastName}}<a href="/people/{{id}}">Update</a></td> 
        </tr> 
        {{/each}} 
    </tbody> 
</table>
<h3>Followers</h3>
<table>
    <thead>
        <th>FollowerID</th> 
        <th>First Name</th> 
    </thead> 
    <tbody>
        {{#each followers}} 
        <tr> 
            <td>{{userID}}</td> 
            <td>{{firstName}}<button class="btn btn-outline-danger" onclick="return deleteFollower({{#each ../userInfo}}{{userID}}{{/each}}, {{userID}})">Delete</button></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table>
