{{!--
<script src="deleteUser.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
--}}
<h3>Current users:</h3>
<table class = "table">
    <thead>
        <tr> 
            <th scope="col">UserID</th> 
            <th scope="col">First Name</th> 
            <th scope="col">Last Name</th>
        </tr>
    </thead> 
    <tbody>
        {{#each userData}} 
        <tr> 
            <th scope="row">{{userID}}</td> 
            <td>{{firstName}}</td> 
            <td>{{lastName}}</td> 
            <td><button onclick="deleteUser({{userID}})">Delete</button></td>
            <td><a href="/users/delete/{{userID}}">delet</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table>
<form id="add-user-form" method="POST" action="/users/add-user-form">
    <label for="input-fname">First Name: </label>
    <input type="text" name="input-fname" id="input-fname">
    
    <label for="input-lname">Last Name: </label>
    <input type="text" name="input-lname" id="input-lname">

    <input type="submit">
</form>